@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 7 44% 98%;
    --foreground: 7 58% 4%;
    --muted: 7 6% 89%;
    --muted-foreground: 7 3% 26%;
    --popover: 7 44% 98%;
    --popover-foreground: 7 58% 4%;
    --card: 7 44% 98%;
    --card-foreground: 7 58% 4%;
    --border: 7 6% 88%;
    --input: 7 6% 88%;
    --primary: 7 27% 83%;
    --primary-foreground: 7 27% 23%;
    --secondary: 7 18% 81%;
    --secondary-foreground: 7 18% 21%;
    --accent: 7 24% 72%;
    --accent-foreground: 7 24% 12%;
    --destructive: 18 96% 26%;
    --destructive-foreground: 18 96% 86%;
    --ring: 7 27% 83%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 7 57% 0%;
    --foreground: 7 28% 97%;
    --muted: 7 6% 11%;
    --muted-foreground: 7 3% 74%;
    --popover: 7 57% 0%;
    --popover-foreground: 7 28% 97%;
    --card: 7 57% 0%;
    --card-foreground: 7 28% 97%;
    --border: 7 6% 11%;
    --input: 7 6% 11%;
    --primary: 7 27% 83%;
    --primary-foreground: 7 27% 23%;
    --secondary: 7 16% 20%;
    --secondary-foreground: 7 16% 80%;
    --accent: 7 26% 29%;
    --accent-foreground: 7 26% 89%;
    --destructive: 18 96% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 7 27% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
